.bg {
   background-image: url(neon.jpg);
   margin: 0;
   padding: 250px;
   background-size: 100%; }
*{
    background-color: rgb(0, 0, 0);
}
   .font {
       font-family: 'Times New Roman', Times, serif;
       padding: 10px;
       margin: 0%;
       color: rgb(255, 255, 255);
       text-align: center;
       font-size: 25px;
  
}
.nav {
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    text-align: left;
    padding: 12px;
    word-spacing: 20px;
    
}
.nav a{
    color:rgb(0, 255, 255);
    text-decoration: wavy;
    word-spacing: 20px;
    background-color: rgb(0, 0, 0);
    
    text-align: left;
    }
.nav a:hover {
    background-color: black;
    text-decoration: none;
    padding: 10px;
}
.side {
    flex: 30% ;
    -ms-flex: 30% ;
    background-color: chartreuse;
    padding: 20px;
    
}

img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 200px;
  }
    

